*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900; 
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg, #FFD700, #F0E68C,  #FFD700);
    width: 100%;
    height: 100vh;
    color: black;
    animation: color 15s ease infinite;
    -webkit-animation: color 15s ease infinite;
    background-size: 300% 300%;
    cursor: none;
}
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: rgb(34, 24, 170);
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(234, 100%, 15%, 0.5);
}
.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    cursor: none;
}
#navcon{
    padding: 15px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
#nav-text{
    margin-left: 20px;
}
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    left: 50px;
}
nav ul li a{
    text-shadow: 1px 1px 3px #000;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: cornflowerblue;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s ;
    -webkit-transition: 0.5s ;
    -moz-transition: 0.5s ;
    -ms-transition: 0.5s ;
    -o-transition: 0.5s ;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    text-shadow: 1px 1px 3px #000;
    color: whitesmoke;
    margin-top: -7%;
    font-size: 15px;
    padding: 20px;
    padding-left: 140px;
}

.header-text h1{
    font-size: 50px;
}
.heading h1{
    text-shadow: 1px 1px 3px #000;
    color: cornflowerblue;
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.con{
    display: flex;
    width: 90%;
    margin: 15px auto;
    left: 600px;
}
.mandate-content{
    flex:1;
    width: 0;
    margin:0px 25px;
    font-size: 38px;
    margin-bottom: 10px;
}
.mandate p{
    margin-bottom: 20px;
}
.mandate h2{
    margin-bottom: 10px;
    color: cornflowerblue;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.glass1{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.5s;
}
.glass1:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    z-index: 2;
}

.glass2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.5s;
}
.glass2:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    z-index: 2;
}

.glass3{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.5s;
}
.glass3:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    z-index: 2;
}

.glass4{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.5s;
}
.glass4:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    z-index: 2;
}
.image-container{
    top:144px;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -20%;
    opacity: 0.25;
    z-index: -1;
    text-align: center;
    left: 550px;
}